@model Test_Task.Models.Catalog

@{
    ViewData["Title"] = "Details";
}
<h2>@Model.Name</h2>
@if (Model.ChildCatalogs!=null && Model.ChildCatalogs.Any())
{
    <ul>
        @foreach (var childCatalog in Model.ChildCatalogs)
        {
            <li>
                <a href="@Url.Action("Details", new { id = childCatalog.CatalogId })">@childCatalog.Name</a>
            </li>
        }
    </ul>
}
<div>
       <a asp-action="Index">Back to List</a>
</div>


