@model List<Test_Task.Models.Catalog>

<ul>
    @foreach (var catalog in Model)
    {
        <li>
            <h2><a href="@Url.Action("Details", new { id = catalog.CatalogId })">@catalog.Name</a></h2>
            @if (catalog.ChildCatalogs!=null && catalog.ChildCatalogs.Any())
            {
                await Html.RenderPartialAsync("Index", catalog.ChildCatalogs.ToList());
            }
        </li>
    }
</ul>

